<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://nuvio.tv/nacl" version="0.0.1" viewmodes="maximized">
  <!-- Mesma forma provada pelo spike (moonlight-tizen ramo samsung_nacl):
       perfil tv-samsung, privilegio network.public, required_version 4.0 (TVs
       2018/2019). O .wgt sai SEM assinatura; assinar com o cert de autor +
       distribuidor com o DUID da TV (Tizen Studio / Apps2Samsung). -->
  <tizen:application id="NuvioNcl0.Nuvio" package="NuvioNcl0" required_version="4.0"/>
  <tizen:profile name="tv-samsung"/>
  <name>Nuvio</name>
  <icon src="icon.png"/>
  <content src="index.html"/>
  <access origin="*" subdomains="true"/>
  <tizen:allow-navigation>*</tizen:allow-navigation>
  <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable"
                 background-support="disable" hwkey-event="enable"/>
</widget>
